<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <%- partial('_partial/header') %>
            <div class="mainContainer">
                <%- partial('_partial/aside') %>
                    <%- partial('_partial/main') %>
                        <% if(is_post()){ %>
                            <%- partial('_partial/articleDirectory') %>
                                <% } %>
            </div>
            <%- partial('_partial/footer') %>
                <div class="backTop icon-arrow-up hideBtn" id="backTop"></div>
                <% if (config.highlight.enable) { %>
                    <script src="/js/highlight.js"></script>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                    <% } %>
                        <% if (theme.canvas) { %>
                            <canvas id="myCanvas">
                                    </canvas>
                            <script src="/js/canvas.js"></script>
                            <% } %>
                                <script src="/js/script.js"></script>
    </body>

</html>