<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

    <body>
        <!-- 头部 -->
        <%- partial('_partial/header') %>
            <!-- 主要部分 -->
            <% if(is_page()&&page.title == '404'){ %>
                <%- partial('404.ejs') %>
                    <% }else if(false){ %>

                        <% }else{ %>
                            <div class="mainContainer">
                                <%- partial('_partial/aside') %>
                                    <%- partial('_partial/main') %>
                                        <% if(is_post()){ %>
                                            <%- partial('_partial/articleDirectory') %>
                                                <% } %>
                            </div>
                            <% } %>
                                <!-- 底部 -->
                                <%- partial('_partial/footer') %>
                                    <div class="backTop icon-arrow-up hideBtn" id="backTop"></div>
                                    <% if (config.highlight.enable) { %>
                                        <script src="/js/highlight.js"></script>
                                        <script>
                                            hljs.initHighlightingOnLoad();
                                        </script>
                                        <% } %>
                                            <% if(theme.isMouseClick){%>
                                                <% let arr = [1,2,3] %>
                                                    <script>
                                                        (function() {
                                                            // 添加鼠标点击后随动画

                                                            const clickColors = []
                                                            const clickText = []
                                                            <% theme.clickColor.forEach(c => { %>
                                                            clickColors.push("<%= c %>")
                                                            <% }) %>
                                                            <% theme.clickText.forEach(t => { %>
                                                            clickText.push("<%= t %>")
                                                            <% }) %>

                                                            function createClickEl(text) {
                                                                let div = document.createElement("div")
                                                                div.className = "floatText"
                                                                div.innerText = text
                                                                return div
                                                            }
                                                            window.addEventListener("click", function(e) {
                                                                let rt = Math.floor(Math.random() * clickText.length)
                                                                let el = createClickEl(clickText[rt])
                                                                let rc = Math.floor(Math.random() * clickColors.length)
                                                                el.style.left = e.pageX + "px"
                                                                el.style.top = e.pageY + "px"
                                                                el.style.color = clickColors[rc]
                                                                document.querySelector('body').appendChild(el)
                                                                setTimeout(() => {
                                                                    document.querySelector('body').removeChild(el)
                                                                }, 1000);
                                                            })
                                                        })()
                                                    </script>
                                                    <% } %>
                                                        <% if (theme.topCanvas) { %>
                                                            <canvas id="myCanvas">
                                    </canvas>
                                                            <script src="/js/canvas.js"></script>
                                                            <% } %>
                                                                <% if(theme.bgCanvas){ %>
                                                                    <canvas id="bgCanvas"></canvas>
                                                                    <script src="/js/bgCanvas.js"></script>
                                                                    <% } %>
                                                                        <script src="/js/script.js"></script>
    </body>

</html>